useDynLib(BoolNet)

export(
loadNetwork,
loadBioTapestry,
getAttractors,
plotAttractors,
plotStateGraph,
plotNetworkWiring,
plotPBNTransitions,
attractorsToLaTeX,
stateTransition,
getTransitionTable,
getStateSummary,
getBasinOfAttraction,
getTransitionProbabilities,
toPajek,
generateRandomNKNetwork,
perturbNetwork,
simplifyNetwork,
reconstructNetwork,
chooseNetwork,
fixGenes,
binarizeTimeSeries,
markovSimulation,
testNetworkProperties,
testAttractorRobustness,
testIndegree,
print.AttractorInfo,
print.BooleanNetwork,
print.BooleanNetworkCollection,
print.BooleanStateInfo,
print.TransitionTable,
print.MarkovSimulation)

