useDynLib(BoolNet)

S3method(print, AttractorInfo)
S3method(print, BooleanNetwork)
S3method(print, BooleanNetworkCollection)
S3method(print, ProbabilisticBooleanNetwork)
S3method(print, BooleanStateInfo)
S3method(print, TransitionTable)
S3method(print, MarkovSimulation)

export(
loadNetwork,
loadBioTapestry,
loadSBML,
saveNetwork,
getAttractors,
plotAttractors,
plotSequence,
plotStateGraph,
plotNetworkWiring,
plotPBNTransitions,
attractorsToLaTeX,
sequenceToLaTeX,
stateTransition,
getAttractorSequence,
getTransitionTable,
getStateSummary,
getBasinOfAttraction,
getPathToAttractor,
getTransitionProbabilities,
toPajek,
toSBML,
generateRandomNKNetwork,
generateState,
generateTimeSeries,
perturbNetwork,
simplifyNetwork,
reconstructNetwork,
chooseNetwork,
fixGenes,
binarizeTimeSeries,
markovSimulation,
testNetworkProperties,
testAttractorRobustness,
testIndegree)

